<header class = "header">
    <%= link_to(root_path, class: "link") do %>
        <h1 class = "title">
            Rails 6 app
        </h1>
    <% end %>

    <p class = "login">
        login <i class="fa fa-user" aria-hidden="true"></i>
    </p>
</header>