<div class = "container">
    <section class = "news">
        <h2 class = "section_title">
            Content Builder
        </h2>

        <div class = "content">
            <% @news.each do |news| %>
                <%= link_to(root_path, class: "link") do %>
                    <% if news.cover.present? %>
                        <%= image_tag(news.cover, class: "image") %>
                    <% end %>

                    <h3 class = "title">
                        <%= news.title.to_s %>
                    </h3>
                <% end %>
            <% end %>
        </div>
    </section>
</div>
