<div class = "container">
    <section class = "news_header">
        <div class = "date">
            <div class = "line"></div>
            <p>
                <%= @news.category.to_s %>
            </p>
        </div>

        <h1 class = "news_title">
            <%= @news.title %>
        </h1>

        <div class = "date">
            <div class = "line"></div>

            <p>
                <%= @news.date_published %>
            </p>
        </div>
    </section>

    <section class = "body">
        <%= @news.content_sanitized %>
    </section>
</div>
