.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: 	#d31837;
    height: 5rem;
    padding: 1rem 2rem;

    .link{
        text-decoration: none;
        color: white;
    }

    .login{
        color: white;
        height: 17px;
        margin: auto 0;
    }
}